:root {
    --text-color: rgb(50, 50, 50);
    --background-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 75, 75);
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Gothic A1', sans-serif;
}

.wrap {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar_logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar_logo li {
    padding: 8px 12px;
}

.navbar_logo a:hover {
    color: var(--accent-color);
}

.navbar_lower {
    display: flex;
    list-style: none;
    padding-left:330px;
}

.navbar_lower li {
    padding: 8px 30px;
}

.navbar_lower a:hover {
    color: var(--accent-color);
}

.navbar_icons {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
    font-size: 20px;
}

.navbar_icons a:hover {
    color: var(--accent-color);
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    padding-top: 5px;
    font-size: 24px;
}

.navbar_toogleBtn:hover {
    color:var(--accent-color);
}

@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_upper {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_upper li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .navbar_toogleBtn {
        display: block;
    }

    .navbar_upper.active,
    .navbar_icons.active {
        display: flex;
    }
}

.article-background {
    min-height: 82vh;
    background-color: rgb(244, 245, 246);
}

.back-articlebox {
    background-color: #f4f5f6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.filtering-ground {
    margin: auto;
    max-width: 942px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 12px 12px 20px;
    background-color: rgb(244, 245, 246);
    -webkit-box-pack: end !important;
    justify-content: end !important;
}

.filtering-box {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
}

.filtering-icon {
    position: relative;
}

.filtering-name {
    cursor: pointer;
    display: flex;
    gap: 5px;
    font-family: Pretendard;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5;
}

.articlebox-sector {
    margin: auto;
    max-width: 942px;
    width: 100%;
    padding: 32px 20px;
    border-top: solid 1px #eaebed;
    border-left: solid 1px #eaebed;
    border-right: solid 1px #eaebed;
    background-color: #fff;
}

.articlebox-header-sector {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.articlebox-headerbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 12px;
}

.articlebox-headernamebox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.articlebox-headername {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: rgb(28, 29, 30);
}

.articlebox-headertime {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    color: rgb(131, 134, 137);
}

.articlebox-bookmark {
    cursor: pointer;
}

.articlebox-contents {
    margin: 0;
}

.articlebox-contents-titlebox {
    margin-top: 16px;
    margin-bottom: 4px;
}

.articlebox-contents-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    color: rgb(28, 29, 30);
    text-decoration: none;
}

.articlebox-contents-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: rgb(107, 110, 114);
}

.articlebox-categorybox {
    margin-top: 6.5px;
    margin-bottom: 25px;
}

.articlebox-category {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    gap: 6px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    color: #a4a6a9;
}

.articlebox-countbox {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.articlebox-countbox2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
    gap: 16px;
    padding-left: 0px;
}

.articlebox-counts {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    text-align: left;
    color: rgb(131, 134, 137);
}

