:root {
    --text-color: rgb(50, 50, 50);
    --background-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 75, 75);
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Gothic A1', sans-serif;
}

.wrap {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
}

.navbar a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar_logo {
    font-size: 24px;
    color: var(--text-color);
}

.navbar_logo li {
    padding: 8px 12px;
}

.navbar_logo a:hover {
    color: var(--accent-color);
}

.navbar_upper {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar_upper li {
    padding: 8px 30px;
}

.navbar_upper a:hover {
    color: var(--accent-color);
}

.navbar_icons {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
    font-size: 20px;
}

.navbar_icons a:hover {
    color: var(--accent-color);
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    padding-top: 5px;
    font-size: 24px;
}

.navbar_toogleBtn:hover {
    color:var(--accent-color);
}

@media screen and (max-width:768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_upper {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_upper li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }
    
    .navbar_toogleBtn {
        display: block;
    }

    .navbar_upper.active,
    .navbar_icons.active {
        display: flex;
    }
}

