:root {
    /* Color */
    --background-color: rgb(245, 245, 245);
    --black-color : rgb(50, 50, 50);
    --gray-dark-color : rgb(100, 100, 100);
    --gray-light-color : rgb(180, 180, 180);
    --accent-color: rgb(251, 105, 105);
    --button-color: rgb(255, 130, 130);
    --test-color: rgb(0, 50, 250);
    
    /* Size */
    --padding: 20px;
    --avartar-size: 36px;
    
    /* Fort Size */
    --font-title: 28px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Gothic A1', sans-serif;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent; /* 얘 중요 */
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* 네비게이션바 */
.Header {
    max-width: 1200px;
    width: 100%;
    height: 60px;
    margin: auto;
    background-color: var(--background-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: cetner;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    max-width: 942px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: var(--background-color);
}

.Navbar a {
    text-decoration: none;
    color: var(--text-color);
}

.Navbar_logo {
    font-size: var(--font-title);
    color: var(--text-color);
}

.Navbar_logo li {
    padding: 8px 12px;
}

.Navbar_logo a:hover {
    color: var(--accent-color);
}

.Navbar_upper {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.Navbar_upper li {
    padding: 8px 30px;
}

.Navbar_upper .active {
    color: var(--accent-color);
    font-size: var(--font-title);
}

.Navbar_upper a:hover {
    color: var(--accent-color);
}

.Navbar_icons {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
    font-size: 20px;
}

.Navbar_icons a:hover {
    color: var(--accent-color);
}

.Navbar_icons li {
    padding: 8px 12px;
}

.Navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    padding-top: 5px;
    font-size: 24px;
}

.Navbar_toogleBtn:hover {
    color:var(--accent-color);
}

/* 게시판 페이지 */
.Container {
    max-width: 1137px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: var(--padding);
    margin: auto;
}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--padding) / 2);
    max-width: 1130px;
    width: 100%;
}

.Main .BoardBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1135px;
    padding: var(--padding) 0;
}

.Main .CategoryTitle {
    width: 100%;
    max-width: 1135px;
}

.Main .BoardTitle {
    font-size: var(--font-title);
    padding: var(--padding);
    color: var(--accent-color);
    border-bottom: 1px solid var(--gray-light-color);
}

.Main .BestList {
    display: flex;
    flex-direction: column;
}

.Main .List {
    font-size: var(--font-medium);
    width: 100%;
    max-width: 1135px;
    border-bottom: 1px solid var(--gray-light-color);
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden; */
}

.Main .List .Article {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: var(--padding);
    padding-bottom: calc(var(--padding) / 2);
}

.Main .List .ArticleCategory {
    font-size: var(--font-micro);
    color: var(--gray-light-color);
}

.Main .List .tit {
    font-size: var(--font-medium);
    padding-left: var(--padding);
    padding-bottom: calc(var(--padding) / 3);
}

.Main .List .ArticleInfo {
    display: flex;
    flex-direction: row;
    padding-left: var(--padding);
    color: var(--gray-dark-color);
}

.Main .List .ArticleInfo .like {
    padding-right: var(--padding);
}

.Main .List .ArticleInfo .cmt {
    padding-right: var(--padding);
}

.Main .List .ArticleInfo i {
    font-size: var(--font-small);
    padding-right: 5px;
}

/* 사이드바 */
.Side {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
}

.Side .ad1 {
    border: 1px solid var(--gray-light-color);
    padding: calc(var(--padding) / 2);
    width: 250px;
    height: 60px;
}

.Side .blank {
    border: 1px solid var(--gray-light-color);
    padding: calc(var(--padding) / 2);
    width: 250px;
    height: 400px;
}

.Side .ad2 {
    border: 1px solid var(--gray-light-color);
    padding: calc(var(--padding) / 2);
    width: 250px;
    height: 250px;
}

/* footer */
.Footer {
    background-color: var(--gray-dark-color);
    width: 100%;
    justify-content: space-between;
    padding-bottom: 100px;
}

.Copyright {
    color: var(--gray-light-color);
    padding-left: 50px;
    padding-top: 30px;
}

/* 미디어 쿼리 반응형 */
@media screen and (max-width: 1130px) {
    /* 네비게이션바 반응형 */
    .Header {
        background-color: var(--background-color);
    }

    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
    }

    .Navbar_upper.active {
        display: flex;
    }

    .Navbar_upper {
        display: none;
        flex-direction: row;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }

    .Navbar_upper li {
        width: 100%;
        text-align: row;
        background-color: var(--background-color);
    }

    .Navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
        background-color: var(--background-color);
        border-bottom: 1px solid var(--gray-light-color);
    }
    
    .Navbar_toogleBtn {
        display: block;
    }

    /* 게시판 페이지 반응형 */
    .Container {
        display: block;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .Main {
        align-items: flex-start;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .BoardBlock {
        flex-direction: column;
        max-width: 1130px;
        width: 100%;
    }

    .CategoryTitle {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    .BestList .List {
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    /* 사이드바 반응형 */
    .Side {
        padding: 100px 5px;
        align-items: center;
    }

    .Side .ad1 {
        width: 50%;
    }

    .Side .blank {
        width: 50%;
    }

    .Side .ad2 {
        width: 50%;
    }
}