:root {
    /* Color */
    --background-color: rgb(245, 245, 245);
    --black-color : rgb(50, 50, 50);
    --gray-dark-color : rgb(100, 100, 100);
    --gray-light-color : rgb(160, 160, 160);
    --accent-color: rgb(251, 105, 105);
    --button-color: rgb(255, 130, 130);
    --test-color: rgb(0, 50, 250);
    --text-color: rgb(100, 100, 100);
    
    /* Size */
    --padding: 20px;
    --avartar-size: 36px;
    
    /* Fort Size */
    --font-title: 20px;
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

body {
    background-color: var(--background-color);
    font-family: Pretendard;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100vh;
}

.wrap {
    background-color: var(--background-color);
    margin: auto;
    align-items: center;
    vertical-align: middle;
    padding-top: 40px;
}

/* 회원가입화면 로고 */
.signup_logo {
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.signup_logo a {
    text-decoration: none;
    color: var(--accent-color);
}

.signup_logo a:hover {
    color: rgb(251, 135, 135);
}

/* assignment select */
.select {
    width: 340px;
    display: flex;
    padding: 15px;
    margin-top: 10px;
    height: 60px;
    border-radius: 10px;
    font-size: 22px;
    color: var(--text-color);
}

/* 회원가입화면 form */
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup_input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
}

.signup_input p {
    color: var(--accent-color);
}

.input_form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.label {
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
}

.signup_input input {
    width: 310px;
    padding: 15px;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    font-size: 25px;
    color: var(--text-color);
}

/* 필독사항  */
.caution-form {
    margin-top: 20px;
    align-items: center;
    border: 1px solid var(--accent-color);
    width: 345px;
    border-radius: 10px;
}

.cautions {
    padding: 8px 8px;
}

.cautions P, h2 {
    color: var(--text-color);
}

.caution-text {
    overflow-y: scroll;
    text-align: start;
    height: 250px;
    color: var(--text-color);
}

.agree-btn {
    width: 20px;
    height:20px;
}

/* 로그인 회원가입 버튼 */
.btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
    padding-bottom: 70px;
}

.btn li {
    padding: 20px 5px;
    list-style: none;
}

.signup_btn {
    width: 330px;
    height: 60px;
    color: rgb(245, 245, 245);
    border-radius: 10px;
    background-color: var(--background-color);
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    background-color: rgb(245, 100, 100);
}

.signup_btn:hover {
    background-color: var(--button-color);
    color: rgb(255, 255, 255);
}

.btn a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.btn a:hover {
    color: var(--accent-color);
}

/* footer */
.footer {
    background-color: var(--gray-dark-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    color: var(--gray-light-color);
    padding-left: 50px;
    padding-top: 10px;
}