.List .Post {
    padding: calc(var(--padding)/2);
}

.List .Post .Editer input {
    height: 20px;
}

.List .Post button {
    font-size: var(--font-medium);
}

.PostscriptTitle {
    display: flex;
    justify-content: center;
    max-width: 1130;
    width: 100%;
    color: var(--accent-color);
    font-size: var(--font-large);
}
