<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!-- stylesheet -->
        <link rel="stylesheet" href="/static/root.css"/>
        <link rel="stylesheet" href="/static/main/main_navbar.css"/>
        <link rel="stylesheet" href="/static/board/topic_best.css"/>
        <link rel="stylesheet" href="/static/footer.css"/>

        <!-- Media Query -->
        <link rel="stylesheet" href="/static/main/media.css"/>

        <!-- Javascript -->
        <script src="../js/navbar.js" defer="defer"></script>

        <!-- Google Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin="crossorigin"/>
        <link
            href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap"
            rel="stylesheet"/>

        

        <title>Spartagora</title>
    </head>
    <body>
        <!-- Header -->
        <div class="Header">
            <nav class="Navbar">
                <!-- 네비게이션바 로고 -->
                <div class="Navbar_logo">
                    <a href="">Spartagora</a>
                </div>

                <!-- 네비게이션바 Uppor Category -->
                <ul class="Navbar_upper">
                    <li>
                        <a class="active" href="">게시판</a>
                    </li>
                    <li>
                        <a href="">과정후기</a>
                    </li>
                    <li>
                        <a href="">채용정보</a>
                    </li>
                    <li>
                        <a href="">취업후기</a>
                    </li>
                    <li>
                        <a href="">외주의뢰</a>
                    </li>
                </ul>

                <!-- 반응형 메뉴바 -->
                <ul class="Navbar_icons">
                    <li>
                        <a>
                            <i class="fa-regular fa-user"></i>
                        </a>
                    </li>
                </ul>
                <a href="#" class="Navbar_toogleBtn">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </nav>
        </div>

        <!-- 게시판 메인화면 -->
        <div class="Container">
            <div class="Main">
                
            </div>
        </div>

        <!-- Footer -->
        <footer class="Footer">
            <section class="Copyright">
                <!-- Name Footer -->
                <div class="SpartaName">
                    <p>스파르타 코딩클럽</p>
                    <ul class="SpartaLink">
                        <li>스파르타 온라인</li>
                        <li>항해 99</li>
                        <li>{창}</li>
                        <li>띵똥코딩</li>
                        <li>국비지원교육</li>
                        <li>기업교육</li>
                    </ul>
                </div>

                <!-- ETC Footer -->
                <div class="Etc">
                    <p>ETC</p>
                    <ul>
                        <li>튜터</li>
                        <li>채용</li>
                        <li>SW사관학교 정글</li>
                    </ul>
                </div>

                <!-- Footer Icons -->
                <div class="FooterIcons">
                    <a href="" target="_blank">blog</a>
                    <a href="" target="_blank">Tstory</a>
                    <a href="" target="_blank">Insta</a>
                    <a href="" target="_blank">YouTube</a>
                </div>
            </section>

            <!-- 개인정보처리방침 -->
            <section class="PerInfo">
                <ul>
                    <li>개인정보처리방침</li>
                    <li>환불규정</li>
                    <li>자주묻는질문</li>
                </ul>
            </section>

            <!-- 팀스파르타 사업자 정보 -->
            <section class="Company">
                <div class="Info">
                    <h4>팀스파르타(주) 사업자 정보
                    </h4>
                    <p>대표자: 이범규 사업자 등록번호: 783-86-01715 통신판매업 신고번호: 2020-서울강남-02300 평생교육시설<br>신고번호: 제
                    661호 주소: 서울특별시 강남구 테헤란로44길 8 12층 이메일: contact@teamsparta.co 전화 1522-8016</p>
                </div>
                <div class="TEAMSPARTA">
                    <p>Copyright ©2022 TEAMSPARTA. All rights reserved.</p>
                </div>
            </section>
        </footer>
    </body>
</html>